/.worktrees/

# Environment and local caches
.env
.direnv/
.venv/

# CMake
.build/

# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info/
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Rust
target/
debug/
**/*.rs.bk
**/mutants.out*/
